/* fjalla one */
/* roboto */
/* Poppins */

#brand-span{
  color:var(--headerSpan)
}
/* Sidebar */
#sidebar-hero-container{
    display:flex;
    flex:1 2;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */

}
.sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1 {
  margin: 0;
}
#sidebar-container {
  border: 1px solid;
  border-color: #a3cef1;
}
#side-bar-header {
  padding: 10%;
  text-align: center;
  font-family: roboto;
  background: #48cae4;
  box-shadow: 5px 5px 5px rgba(172, 172, 172, 0.3);
  color: whitesmoke;
}
.side-bar-nav {
  margin-bottom: 5%;
}
.side-bar-nav div {
  width: 100%;
  padding: 10% 0 10% 0;
  text-align: center;
}
.side-bar-a {
  color: black;
  font-family: poppins;
  font-size: 1.5rem;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: none;
  transition: all 0.1s;
}
.side-bar-a:hover {
  color: #6096ba;
  font-weight: 600;
}
.side-bar-a:hover #sidebar-products {
  color: orange;
}
.side-bar-a:hover #sidebar-bakery {
  color: brown;
}
.side-bar-a:hover #sidebar-beverages {
  color: red;
}
.side-bar-a:hover #sidebar-fish {
  color: aqua;
}
.side-bar-a:hover #sidebar-fruits {
  color: lime;
}
.side-bar-a:hover #sidebar-vegetables {
  color: orangered;
}
.side-banner-image {
  margin-top: 2%;
  border-radius: 10px;
  min-width: 350px;
}
.banner-image {
  width: 100%;
}
.section-header {
  text-align: center;
  font-family: fjalla one;
  font-weight: 600;
  font-size: 3rem;
}
.section-header-text {
  padding-top: 1rem;
}
.product-section {
  width: 90%;
  margin: auto;
}
#product-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.product-container {
  display: grid;
  grid-template-rows: auto 190px;
  position: relative;
  width: 340px;
  margin-top: 2%;
  transition: all 0.5s;

  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 500px;
}
.product-container:hover {
  box-shadow: 1px 1px 5px rgba(172, 172, 172, 0.3);
  
}
.product-name-container {
  font-family: poppins;

  font-size: 1.2rem;
  margin: 0;
  
  text-align: center;
  align-items: center;
  justify-content: center;
}
.product-name {
  margin: 0;
  color:#023e8a;
  font-weight: 700;
}
.add-to-cart-button-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.add-to-cart-button {
  width: 100%;
  padding: 3% 0 3% 0;
  background-color: #90e0ef;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-family: sans-serif;
  transition: all 0.5s;
}
.add-to-cart-button:hover {
  background-color: #023e8a;
  color: white;
  cursor:pointer
}
.add-to-cart-button:active {
  background-color: #0077b6;
  color: cyan;
}
.product-image-container {
  width: 80%;
  margin: auto;
}
.product-image {
  width: 100%;
}
.banner-image-div {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 14px;

  img {
    /* margin: 10px; */
    animation: slide-show 15s infinite; 
    
  }
}

@keyframes slide-show {
  0% {
    transform: translate(0);
  }
  35% {
    transform: translate(0);
  }
  55% {
    transform: translate(-100%);
  }
  60% {
    transform: translate(-100%);
  }
  85% {
    transform: translate(-200%);
  }
  90%{
    transform:translate(-200%);
  }
}
.banner-image {
  width: 100%;
  border-radius: 14px;
}

/*  customer review */

.image-container {
  width: 50%;
}
.image-container img {
  width: 100%;
  border-radius: 100%;
}
.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}
.name-container p {
  margin: 0;
}
.name-container p:first-child {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}
.name-container p:last-child {
  color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.comment-container {
  width: 90%;
}
.stars {
  color: yellow;
  width: 90%;
}
.customer-details-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.customer-review-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid lightgray; */
  padding: 10px;
  border-radius: 10px;
  width: 400px;

  transition: scale 0.5s,box-shadow 0.5s;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 500px;
}
.customer-review-container:hover {
  box-shadow: 1px 1px 10px lightgrey;
  scale: 1.2;
}
.customer-review-main-container {
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr ; */
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: auto;
}
.brand-container{
  display: flex;
  overflow: hidden;
  width: 100%;
  div{
    background-color:ghostwhite;
    margin:10px;
    min-width:20%;
    border-radius: 20px;
    

    animation:scrolling  20s infinite;
   
  }
}
.brands-img{
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  
}
#forbes{
  display: block;
  width:90%;
  margin: 5% auto 5% auto;
  /* padding-top: 7%;
  padding-left: 5%; */
}
@keyframes scrolling {
  0%{transform: translate(0)}
  25%{transform: translate(-100%)}
  50%{transform: translate(-150%)}
}

/*  Products page  */
.product-banner{
  position: sticky;
  img{
    width: 100%;
  }
}
#banner-scroll-container{
  margin-top:2% ;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  
  
  
  
  
  
  
  img{
    width: 1525px;
    height: 400px;
    object-fit: cover;
    
    animation: slide-show1 30s infinite;
    
  }
  
}
@keyframes slide-show1 {
  0% {
    transform: translate(0);
  }
  15% {
    transform: translate(0);
  }
  30% {
    transform: translate(-100%);
  }
  45% {
    transform: translate(-200%);
  }
  70% {
    transform: translate(-300%);
  }
  85%{
    transform:translate(-400%);
  }
  90%{
    transform: translate(-400%);
  }
}
/*media queries  */
@media (max-width:1000px){
  #sidebar-hero-container{
    flex-direction:  column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .sidebar{
    width: 50%;
  }
  #sidebar-container{
    display: none;
  }
  
}

/* -----------------------------Product Display Page------------------------------------------- */
#productHeader{
  text-align: center;
}
#productDisplayContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
}
#ImageContainer{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#productDescription{
  display: grid;
  width: 100%;
  height: auto;
}
#ProductDisplaybtn{
  padding: 15px 40px;
  background-color: #90e0ef;
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  max-width: 250px;
}
#ProductDisplaybtn:hover{
  background-color: #023e8a;
  color: white;
}
#PriceProduct span{
  font-weight: 500;
  font-size: 1.3rem;
  color: #023e8a;
}
#buyButtonContainer{
  display:flex;
  flex-direction: column-reverse;
  align-items: center;
}
#quantityBox{
  max-width: 150px;
  text-align: center;
  height: 20px;
  border:solid #90e0ef;
  padding: 10px 0;
  font-size: 1.2rem;
  font-family: poppins;
  border-radius: 8px;
}
#quantityBox:focus{
  outline: none;
}
@media screen and (max-width: 600px){
  #productDisplayContainer{
    grid-template-columns: 1fr;
  }
  /* #mainHeader{
    display:none ;
  } */
}