:root{
    --BGCOLOR: white;
    --FOOTERCOLOR:#ADE8F4;
    --footerfont: white;
    --headerSpan :#0077B6;
    --footerIconColor:#0077B6;
}
html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: poppins,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

